{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('user.static', filename='user/css/allocation_edit.css') }}">
{% endblock %}

{% block navbar %}
    <a href="{{ url_for('user.allocation') }}">管理平台</a>
    <a href="{{ url_for('user.apply') }}">申請紀錄</a>
    <a href="{{ url_for('auth.logout') }}">登出</a>
{% endblock %}

{% include 'toast.html' %}

{% block content %}

<div class="text-content">
    <h3>注意事項</h3>
    <ul>
        <li>使用匯入功能請先下載 CSV</li>
        <li>編輯後上傳系統會自動匯入資料</li>
    </ul>
</div>

<div class="inputform">
    <div ></div>
    <button class="btn-submit" type="button" onclick="downloadCsv()">下載CSV</button>
    <button class="btn-submit" id="btn-import" type="button" onclick="uploadCsv()">匯入CSV</button>
    <label id="input-label"></label>
    <input id="input-upload" type="file" accept=".csv" style="display: none;">
    <button id="upload-submit" class="btn-classify" style="display: none;" onclick="submitFile()">上傳</button>
    <div id="upload-loading" class="lds-dual-ring" style="display: none;"></div>
</div>


{{ allocationform.hidden_tag() }}
<div class="container">
    <div class="container-header">
        <div class="container-header-left">
            <button class="btn-toggle show" type="button" onclick="toggleContainer(this), hideBtn()">單位 IP 分配▲</button>
        </div>
        <div id="btn-field" class="container-header-right" style="display: flex;">
            {{ allocationform.save(class="btn-submit", onclick="collectData()") }}
        </div>
    </div>
    <div class="container-content" style="display: block;">
        <table id="allocationTable">
            <thead>
                <tr>
                    <th scope="col">IP 位址</th>
                    <th scope="col">MAC 位址</th>
                    <th scope="col">人員</th>
                    <th scope="col">備註</th>
                    <th scope="col">設備</th>
                </tr>
            </thead>
            <tbody id="{{ host.id }}">
                {% for allocation in host.host_allocation %}
                <tr id="{{ allocation.id }}">
                    <td class="allocation_td">{{ allocation.ip }}</td>
                    <td>
                        <div class="tableform">
                            {{ allocationform.mac(class="input", placeholder=allocation.mac) }}
                        </div>
                    </td>
                    <td>
                        <div class="tableform">
                            {{ allocationform.owner(class="input", placeholder=allocation.owner) }}
                        </div>
                    </td>
                    <td>
                        <div class="tableform">
                            {{ allocationform.comment(class="input", placeholder=allocation.comment) }}
                        </div>
                    </td>
                    <td>
                        <!-- 將資料庫的資料預設給選項 -->
                        {% set selected_option = allocationform.device.process_data(allocation.device) %}
                        <div class="tableform">
                            {{ allocationform.device(class="input") }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // host_allocation 程式碼
    // 收集 allocationTable 資料
    function collectData() {
        const table = document.getElementById("allocationTable");
        const tbody = table.getElementsByTagName("tbody");
        const rows = table.getElementsByTagName("tr");

        // 取得當前 hostid
        const hostId = tbody[0].id;
        // 取得管理員資料; 回傳資料或空值

        data = [];
        data.push(hostId);

        // 將所有資料存進 list
        for (var i = 1; i < rows.length; i++) {
            var row = rows[i];
            var rowData = {};

            // 儲存 id
            rowData["id"] = row.id;

            // 儲存 mac, owner; inputs[0]是csrf_token
            var inputs = row.getElementsByTagName("input");
            for (var j = 0; j < inputs.length; j++) {
                var input = inputs[j];

                if (input.value) {
                    rowData[input.name] = input.value;
                } else {
                    rowData[input.name] = input.placeholder;
                }
            }

            // 儲存 device
            var selects = row.getElementsByTagName("select");
            rowData["device"] = selects[0].value;
        
            // 將資料存進 result
            data.push(rowData);
        }

        // console.log(data);
        // 發送 Ajax 請求更新 host allocation
        fetch('/allocation/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
            slideInToast(data['title'] ,data['content']);
            console.log(data);
        })
        .catch(error => {
            console.log(error);
        })
    }

    // 隱藏按鈕
    function hideBtn() {
        const btnField = document.getElementById('btn-field');

        var btnDisplay = btnField.style.display;
        
        if (btnDisplay == 'none') {
            btnField.style.display = 'flex';
        } else if (btnDisplay == 'flex') {
            btnField.style.display = 'none';
        }
    }

    function downloadCsv() {
        const table = document.getElementById("allocationTable");
        const tbody = table.getElementsByTagName("tbody");
        const hostId = tbody[0].id;


        fetch('/allocation/download', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(hostId),
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
            console.log(data);
            const filename = data['filename'];
            window.location.href = `/allocation/download/${filename}`;
        })
        .catch(error => {
            console.log(error);
        })
    }

    function uploadCsv() {
        const uploadInput = document.getElementById("input-upload");

        console.log(uploadInput);
        uploadInput.click();

        uploadInput.addEventListener("change", function () {
            const fileName = uploadInput.files[0].name;
            var inputLabel = document.getElementById("input-label");
            const uploadSubmit = document.getElementById("upload-submit");

            inputLabel.textContent = fileName;
            uploadSubmit.style.display = "flex";
        })

    }

    function submitFile() {
        const uploadSubmit = document.getElementById("upload-submit");
        const uploadLoading = document.getElementById("upload-loading");
        const uploadInput = document.getElementById("input-upload");
        
        uploadSubmit.style.display = "none";
        uploadLoading.style.display = "block";

        const table = document.getElementById("allocationTable");
        const tbody = table.getElementsByTagName("tbody");
        const hostId = tbody[0].id;

        // create FormData
        var formData = new FormData();
        formData.append("host_id", hostId);
        formData.append("file", uploadInput.files[0]);

        // Ajax
        fetch('/allocation/upload', {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
            console.log(data);
            slideInToast(data['title'], data['content']);
            if (data['title'] == "success") {
                setTimeout(function () {
                    window.location.reload();
                }, 3000)
            }
        })
        .catch(error => {
            console.log(error);
        })
    }

    // 動態網頁程式碼
    function toggleContainer(toggleBtn) {
        const btnName = toggleBtn.textContent.slice(0, -1);
        const selectedContainer = toggleBtn.closest('.container');
        const hiddenContent = selectedContainer.querySelector(".container-content");

        if (toggleBtn.classList.contains("show")) {
            // 已經被選取
            toggleBtn.textContent = btnName + "▼";
            toggleBtn.classList.remove("show");
            // 隱藏 Searchform
            hiddenContent.style.display = "none";
        } else {
            // 未被選
            toggleBtn.textContent = btnName + "▲";
            toggleBtn.classList.add("show");
            // 顯示 Searchform
            hiddenContent.style.display = "block";
        }
    }
</script>

{% endblock %}